services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - SUPABASE_URL=$https://juoujhavjimotsacrbjj.supabase.co
      - SUPABASE_KEY=$sb_secret_a1WDOXI2EHt5xGznZk0CNQ_axIC02fg

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    environment:
      - HTTPS=${HTTPS}
      - SB_PUBLISHABLE_KEY=$sb_publishable_HqIWIWJu_gEE6Su-TdEd2Q_d_nCcQLR
